@-webkit-keyframes	fadein { 0%{opacity:0;} 100%{opacity:1;} }
@-moz-keyframes	  fadein { 0%{opacity:0;} 100%{opacity:1;} }
@-o-keyframes	fadein { 0%{opacity:0;} 100%{opacity:1;} }
@keyframes	fadein { 0%{opacity:0;} 100%{opacity:1;} }

body {
	margin: 0;
	background-image: url(../img/bg.jpg);
	overflow: hidden;
	text-align:center;
}

.canvas {
	-webkit-animation:fadein 2s linear 1;
	-moz-animation:fadein 2s linear 1;
	-o-animation:fadein 2s linear 1;
	animation:fadein 2s linear 1;
}

.logo {
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	border-radius: 50%;
  overflow: hidden;
  position: relative;
	box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
	-webkit-animation:fadein 3s linear 1;
	-moz-animation:fadein 3s linear 1;
	-o-animation:fadein 3s linear 1;
	animation:fadein 3s linear 1;
}

@media screen and (max-width: 576px) {
  .logo {
    width: 120px;
    height: 120px;
  }
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.socials {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 50px;
	opacity: 0;
}

.socials {
	opacity: 0.6;
}
.socials:hover {
	opacity: 1;
}
.socials {
	opacity: 1;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icons_bg {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon_bg {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6 center 30%;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .icon_bg {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .icon_bg:hover {
    transform: scale(1.2);
  }
}
.icon_bg.facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.icon_bg.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}
.icon_bg.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}
.icon_bg.behance {
  background: linear-gradient(45deg, #1769ff, #213fca);
  box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
}
.icon_bg.github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}
.icon_bg.codepen {
  background: linear-gradient(45deg, #324e63, #414447);
  box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
}
.icon_bg.link {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}
.icons_bg .icon-font {
  display: inline-flex;
}

.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}
.button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .button {
    min-width: 170px;
    margin: 15px 25px;
  }
}
@media screen and (max-width: 576px) {
  .button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .button:last-child {
    margin-bottom: 0;
  }
}
.button:focus {
  outline: none !important;
}
@media screen and (min-width: 768px) {
  .button:hover {
    transform: translateY(-5px);
  }
}
.button:first-child {
  margin-left: 0;
}
.button:last-child {
  margin-right: 0;
}
.button.button_blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}
.button.button_blue:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}
.button.button_orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}
.button.button_orange:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}

.transit {
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.transit-long {
	-webkit-transition: 2.5s all ease;
	-moz-transition: 2.5s all ease;
	-o-transition: 2.5s all ease;
	transition: 2.5s all ease;
}

.about {
	position: fixed;
	bottom: 13px;
	right: 27px;
	z-index: 2;
	font:500 10px "FuturaBT-Medium", Arial, sans-serif;
	color: #777;
	letter-spacing: 1px;
}